@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-body {
  background: transparent !important;
}

.markdown-body ul,
.markdown-body ol {
  list-style: initial !important;
  margin-left: 2em !important;
  color: inherit !important;
}

.markdown-body ul {
  list-style-type: disc !important;
}

.markdown-body ol {
  list-style-type: decimal !important;
}
